@import url(http://fonts.googleapis.com/css?family=Lobster&text=%20DOayut);
@import "compass/css3/box-sizing";
@import url(http://fonts.googleapis.com/css?family=Oleo%20Script&text=ANice);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import "compass/css3/border-radius";
@import "compass/css3/user-interface";
*{
	font-family: 'Source Sans Pro', sans-serif;padding:0px;margin:0px
}
@font-face {
	font-family: 'icons';
	src: url('fonts/icomoon.eot');
	src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}//
$dblue:#011526;
$lyellow:#F2B138;
$myellow:#F2A03D;
$sbrown:#F27B50;
$mbrown:#8C5245;
$dred:#6D0000;
@mixin icon{
	font-family:'icons', sans-serif;
	speak:none;
	@include user-select(none);
}
.s{
	color:$dred !important;
}
#map{
	position:relative;
	
	width:100%;
	height:300px;
}
body{
	>div{
		margin-bottom:100px;
		bottom:40px;
		@include border-radius(10px);
		border:5px solid $dred;
		border-top:0px;
		border-bottom:0px;
		>h1{
			font-family:"lobster", "Oleo Script", sans-serif;

			position:relative;
			width:100%;
			text-align:center;
			color:$dred;
			font-size:70px;
						text-shadow:1px 1px 10px rgba(0,0,0,0.3);
		}
		position:relative;
		background-color:$sbrown;
		$mainwidth:700px;
		width:$mainwidth;
		margin-left:$mainwidth/(-2);
		left:50%;
		margin-top:100px;
		>section{
			position:relative;
			display:block;
			color:black;
			background-color:white;
			border-top:2px solid $dred;
			border-bottom:2px solid $dred;
			>span{
				padding-right:20px;
				font-size:50px;
			}
			>div{
				$numElements:3;
				>figure{
					cursor:pointer;
					display:inline-block;
					width:($mainwidth - 10px)/$numElements;
					text-align:center;
					>a{
						display:block;
						width:100%;
						font-size:72px;
						@include icon;
						text-shadow:1px 1px 10px rgba(0,0,0,0.7);
						&:hover{
							
						}
					}
					>figcaption{
						font-size:15px;
						font-style:italic;
					}
				}
			}
		}
		>footer{
			display:block;
			position:relative;
			width:100%;
			text-align:center;
			min-height:20px;	
		}
	}
	background-color:#ffffff;
}
$posinputbg:lighten(#000000,90%);
.posinput{
	display:block;
	margin-top:5px;
	padding-top:2px;
	background-color:$posinputbg;
	>input{
		text-align:center;
		border:0px;
		position:relative;
		width:50%;
		font-size:40px;
		padding:3px;
		border-right: 1px solid $posinputbg;
		&+input{
				border-left: 1px solid $posinputbg;
		}
		@include box-sizing(border-box);
	}
	>a{
		@include user-select(none);
		text-align:center;
		cursor:pointer;
		position:relative;
		display:block;
		margin-top:2px;
		width:100%;
		background-color:white;
		&:before{
			content:"— ";
		}
		&:after{
			content:" —";
		}
		&:hover{
			color:$dred;	
		}
	}
}
.radius{
		@include box-sizing(border-box);
		text-align:center;
		border:0px;
		position:relative;
		width:100%;
		font-size:40px;
		padding:3px;
		border-top:1px solid $posinputbg;
		border-bottom:1px solid $posinputbg;
		
}
#mapholder{

	>a{
		@include user-select(none);
		text-align:center;
		cursor:pointer;
		position:relative;
		display:block;
		margin-top:2px;
		width:100%;
		background-color:white;
		&:before{
			content:"— ";
		}
		&:after{
			content:" —";
		}
		&:hover{
			color:$dred;	
		}
	}
}
